<!--
  ~ KNUT7 K7F (https://marciozebedeu.com/)
  ~ KNUT7 K7F (tm) : Rapid Development Framework (https://marciozebedeu.com/)
  ~
  ~ Licensed under The MIT License
  ~ For full copyright and license information, please see the LICENSE.txt
  ~ Redistributions of files must retain the above copyright notice.
  ~
  ~ @link      https://github.com/knut7/knu7 for the canonical source repository
  ~ @copyright (c) 2015.  KNUT7  Software Technologies AO Inc. (https://marciozebedeu.com/)
  ~ @license   https://marciozebedeu.com/license/new-bsd New BSD License
  ~ @author    Marcio Zebedeu - artphoweb@artphoweb.com
  ~ @version   1.0.2
  -->

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Tests Application">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <includePath>.</includePath>
        <const name="DIR_FILE" value=""/>
        <const name="SECURE_AUTH_SALT" value="LzJ}op]mr|6+![P}Ak:uNdJCJZd>(Hx.-Mh#Tz)pCIU#uGEnfFz|f ;;eU%/U^O~"/>
        <const name="SECURE_AUTH_KEY" value="LzJ}op]mr|6+![P}Ak:uNdJCJZd>(Hx.-Mh#Tz)pCIU#uGEnfFz|f ;;eU%/U^O~"/>
        <const name="HASH_KEY" value="LzJ}op]mr|6+![P}Ak:uNdJCJZd>(Hx.-Mh#Tz)pCIU#uGEnfFz|f ;;eU%/U^O~"/>
        <const name="str" value="it is test"/>
        <const name="ALGO" value="md5"/>
        <const name="DIR_LOGS" value=""/>
        <const name="PV" value="Module/"/>
        <const name="APP" value=""/>
        <const name="DS" value="/"/>
        <const name="URL" value="localhost/teste"/>
    </php>
</phpunit>
