body, ul, li, h1, h2, h3 {

    margin: 0;
    padding: 0;
}

body {

}
.ps_slider{
    background: red;
}

.ps_overlay {
    z-index: 90;
    background: #111;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0.5;
}

.ps_container {
    width: 480px;
    height: 350px;
    position: absolute;
    top: 50%;
    margin-top: 175px;
    left: 50%;
    margin-left: -240px;
    z-index: 100;
}